<!DOCTYPE html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>MarAu </title>
   <link href="../css/bootstrap.min.css" rel="stylesheet">
   <link href="../css/Auctions.css" rel="stylesheet">
   

</head>
<body class="dark">
   <section class="dark">
      <div class="container py-4">
         <h1 class="h1 text-center" id="pageHeaderTitle">My Cards Dark</h1>
   <article class="postcard dark green">
      <a class="postcard__img_link" href="#">
         <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
      </a>
      <div class="postcard__text">
         <h1 class="postcard__title green"><a href="#">Game Name</a></h1>
         <div class="postcard__subtitle small">
            <!-- Here Is Start Date -->
            <time datetime="2020-05-25 12:00:00">
               <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
         </div>
         <div class="postcard__bar"></div>
         <!-- Here is Game Discrpition -->
         <h1 class="postcard__title green"><a href="#">Game Discrpition</a></h1>
         <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
         <div class="postcard__bar"></div>
         
         <!-- Here is Game Requirements -->
         <h1 class="postcard__title green"><a href="#">Game Requirements</a></h1>
         <h6>Ram: </h6>
         <h6>Ram: </h6>
         <h6>Ram: </h6>
         <h6>Ram: </h6>
         <h6>Ram: </h6>
         <h6>Ram: </h6>

         <div class="postcard__bar"></div>
         <!-- Here is Seller Info -->
         <!-- Href to seller page -->
         <h4 class="postcard__title green"><a href="#">Seller is Mohamed Kotp Amer</a></h4>
        
         <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Strategy</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>Rating: 4 Stars</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>First Owener: </li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>Price: </li>
            <li class="tag__item play green">
               <!-- Href to buy it -->
               <a href="#"><i class="fas fa-play mr-2"></i>Buy Now!</a>
            </li>
         </ul>
      </div>
   </article>
   </div>
   </section>
   
</body>
<script src='../js/bootstrap.min.js'></script>

</html>