<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/order.css">
    <link rel="stylesheet" href="../css/Home_style.css">
    <title>MarAu </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <!-- <div id="navbar">
        <a class="navbar-brand" href="https://marau.demosfortest.com/"><img src='../img//Home/super-logo.png' width="50" height="50"></a>
        <a href="../Views/login.html">Sign in</a>
        <a href="#Profile">MY Profile</a>
        <a href="#contact">Contact</a>
    </div> -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://marau.demosfortest.com/"><img src='../img//Home/super-logo.png' width="50" height="50"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../Views/Home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../Views/login">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../Views/Account">MY Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../Views/Buyer_Page">MY Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="cart_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cart_container">
                        <div class="cart_title">Shopping Cart<small> (1 item in your cart) </small></div>
                        <div class="cart_items">
                            <ul class="cart_list">
                                <li class="cart_item clearfix">
                                    <div class="cart_item_image"><img src="../img/Home/game.jpg" alt=""></div>
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="cart_item_name ">
                                            <div class="cart_item_title">Name</div>
                                            <div class="cart_item_text">Mario</div>
                                        </div>
                                        <div class="cart_item_quantity ">
                                            <div class="cart_item_title">Quantity</div>
                                            <div class="cart_item_text">1</div>
                                        </div>
                                        <div class="cart_item_price ">
                                            <div class="cart_item_title">Price</div>
                                            <div class="cart_item_text">one shawerma sandwich </div>
                                        </div>
                                        <div class="cart_item_total ">
                                            <div class="cart_item_title">Total</div>
                                            <div class="cart_item_text">0</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cart_item clearfix">
                                  <div class="cart_item_image"><img src="../img/Home/game.jpg" alt=""></div>
                                  <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                      <div class="cart_item_name ">
                                          <div class="cart_item_title">Name</div>
                                          <div class="cart_item_text">Mario</div>
                                      </div>
                                      <div class="cart_item_quantity ">
                                          <div class="cart_item_title">Quantity</div>
                                          <div class="cart_item_text">1</div>
                                      </div>
                                      <div class="cart_item_price ">
                                          <div class="cart_item_title">Price</div>
                                          <div class="cart_item_text">one shawerma sandwich </div>
                                      </div>
                                      <div class="cart_item_total ">
                                          <div class="cart_item_title">Total</div>
                                          <div class="cart_item_text">0</div>
                                      </div>
                                  </div>
                              </li>
                            </ul>
                        </div>
                        <div class="order_total">
                            <div class="order_total_content text-md-right">
                                <div class="order_total_title">Order Total:</div>
                                <div class="order_total_amount">₹22000</div>
                            </div>
                        </div>
                        <div class="cart_buttons"> <button type="button" class="button cart_button_clear">Continue Shopping</button> <button type="button" class="button cart_button_checkout">Add to Cart</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src='../js/bootstrap.min.js'></script>
<script src="../js/nav.js"></script>

</body>
</html>
